*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/* HEADER */

header{
	padding: 20px 2% 35px 2%;
	height: 130px;
}

header div.logo{
	float: left;
}

header nav.desktop{
	float: right;
	position: relative;
	top: 40px;
}

header nav.desktop ul{
	list-style-type: none;
}

header nav.desktop ul li{
	float: left;	
	font-size: 23px;
	padding: 0 30px;
	font-style: italic;
	text-transform: uppercase;
}

header nav.desktop a{
	color: black;
	text-decoration: none;
}

/* BANNER */

section.banner{
	width: 100%;
	height: 600px;
	background-color: black;
	background-image: url('../images/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.text-banner{
	padding: 100px;	
}

.text-banner-single{
	width: 230px;
	margin-top: 20px;
	padding: 12px 30px;
	height: 60px;
	text-transform: uppercase;
	color: white;
	font-size: 23px;
	background-image: url('../images/box-text.png');
	background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
	width: 200px;
	position: relative;
	left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
	width: 170px;
	position: relative;
	left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4){
	width: 270px;
	background-image: url('../images/box-white-text.png');
	color: black;
	position: relative;
	left: -30px;
	text-transform: lowercase;
}

@media screen and (max-width: 1400px){

	/* BANNER */
	section.banner{
		background-size: 75% auto;
		background-position: 100% 100%;
	}
}

@media screen and (max-width: 700px){
	
	nav.desktop{
		display: none;
	}

	/* BANNER */
	.text-banner{
		padding: 100px 60px;	
	}
}