*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

header div.logo{
	float: left;
}

header nav.desktop{
	float: right;
}
