*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/* HEADER */
header{
	padding: 20px 2% 35px 2%;
	height: 130px;
}

header div.logo{
	float: left;
}

header nav.desktop{
	float: right;
	position: relative;
	top: 40px;
}

header nav.mobile{
	margin-top: 40px;
	display: none;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url('../images/icon_menu.png');
}

header nav.desktop ul{
	list-style-type: none;
}

header nav.mobile ul{
	width: 100%;
	left: 0;
	top: 110px;
	position: absolute;
	text-align: center;
	background-color: white;
	z-index: 999;
}

header nav.desktop ul li{
	float: left;	
	font-size: 23px;
	padding: 0 30px;
	font-style: italic;
	text-transform: uppercase;
}

header nav.mobile ul li{
	font-size: 23px;
	padding: 10px 0;
	font-style: italic;
}

header nav.desktop a{
	color: black;
	text-decoration: none;
}

header nav.mobile a{
	color: black;
	text-decoration: none;
}

/* BANNER */
section.banner{
	width: 100%;
	height: 600px;
	background-color: black;
	background-image: url('../images/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.text-banner{
	padding: 100px;	
}

.text-banner-single{
	width: 230px;
	margin-top: 20px;
	padding: 12px 30px;
	height: 60px;
	text-transform: uppercase;
	color: white;
	font-size: 23px;
	background-image: url('../images/box-text.png');
	background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
	width: 200px;
	position: relative;
	left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
	width: 170px;
	position: relative;
	left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4){
	width: 270px;
	background-image: url('../images/box-white-text.png');
	color: black;
	position: relative;
	left: -30px;
	text-transform: lowercase;
}

/* VEÍCULOS DESTAQUE */
section.veiculos-destaque{
	padding: 50px 2%;
}

.line-titulo{
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	top: 20px;
	background: black;
}

section.veiculos-destaque .container{
	max-width: 1000px;
	padding: 10px 0;
}

.line-titulo h2{
	position: relative;
	background: white;
	display: inline-block;
	text-align: center;
	font-size: 23px;
	padding: 0 20px;
	font-style: italic;
	text-transform: uppercase;
}

.vitrine-destaque{
	float: left;
	width: 33.33%;
}

.vitrine-destaque .vitrine-img{
	width: 100%;
	padding-top: 100%;
	background-size: 100% 100%;
	border: 8px solid white;
}

.vitrine-destaque h2{
	padding-left: 8px;
	color: black;
	font-size: 20px;
	font-style: italic;
}

.vitrine-destaque p{
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	padding-top: 8px;
}

.btn1{
	color: white;
	/*font-weight: bold;*/
	display: block;
	width: 150px;
	line-height: 40px;
	background-color: #EB2D2D;
	text-decoration: none;
	text-align: center;
	border-bottom: 2px solid #B21E1E;
	border-right: 2px solid #B21E1E;
}

.vitrine-destaque a{
	margin-left: 8px;
	margin-top: 15px;
}

/* SERVIÇOS */
section.servicos-descricao{
	display: flex;
}

.half1{
	width: 50%;
	text-align: center;
	padding: 90px 0;
	background-color: #242424;
	color: white;
}

.half1-wraper{
	text-align: left;
	display: inline-block;
}

.half1-wraper h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half1-wraper ul{
	display: inline-block;
	margin-top: 20px;
}

.half1-wraper li{
	margin-left: 20px;
	font-size: 20px;
	font-weight: 200;
}

.half1-wraper a{
	margin-left: 40px;
	display: inline-block;
	vertical-align: bottom;
}

.half2{
	width: 50%;
	padding: 90px 100px;
	background-color: #EB2D2D;
	color: white;
}

.half2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half2 .depoimento-single{
	margin-top: 20px;
}

.depoimento-single p{
	font-weight: 200;
	font-size: 22px;
}

.navigation{
	float: left;
	margin-top: 30px;
	width: 100%;
	max-width: 700px;
}

.arrows{
	float: left;
}
.navigation img{
	cursor: pointer;
	margin: 0 20px;
}

.nome-depoimento{
	float: right;
	color: #252525;
	font-size: 23px;
}

/* CONTATO */
section.contato{
	padding: 40px 2% 0 2%;
}

section.contato form{
	max-width: 600px;
	margin: 30px auto;
}

section.contato .input-wraper{
	float: left;
	padding: 10px;
	margin-top: 7px;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

section.contato input[type=text]{
	width: 100%;
	border: 1px solid #CCCCCC;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
}

section.contato textarea{
	width: 100%;
	border: 1px solid #CCCCCC;
	height: 120px;
	padding: 8px;
	padding-left: 15px;
	resize: none;
}

section.contato form .input-wraper:nth-of-type(5){
	text-align: center;
}

section.contato input[type=submit]{
	cursor: pointer;
	font-size: 16px;
	display: inline-block;
}

/* FOOTER */
footer{
	padding: 40px 2%;
	background: #252525;
	margin-top: 20px;
}
footer .container{
	max-width: 1000px;
}

footer nav{
	float: left;
}

footer nav ul{
	list-style-type: none;
}

footer nav ul li {
	float: left;
	font-style: italic;
	padding: 0 35px;
	font-size: 19px;
}

footer nav ul a{
	color: white;
	text-decoration: none;
}

footer p{
	font-weight: 200;
	float: right;
	color: white;
	font-size: 16px;
}

footer a {
	text-decoration: none;
	color: white;
}

/* PAGINA NOVA - venda.html */
/* VENDA */
section.venda{
	min-height: 100%;
}

.content-venda{
	padding-top: 40px;
}

/* SIDEBAR */
.sidebar{
	float: left;
	width: 30%;
	padding-left: 2%;
}

.search1{
	width: 90%;
}

.search1 h2{
	font-size: 20px;
	color: black;
	font-weight: normal;
}

.search1 .barra-preco{
	width: 100%;
	height: 10px;
	background: white;
	border: 1px solid #CCCCCC;
	margin-top: 8px;
	border-radius: 20px;
	position: relative;
}

.barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	height: 10px;
	background: linear-gradient(to bottom, rgb(255,255,255),rgb(200 200 200));
	border-radius: 20px;
}

.pointer-barra{
	width: 16px;
	height: 16px;
	position: absolute;
	left: calc(20% - 3px);
	top: -3px;
	cursor: pointer;
	border-radius: 6px;
	background: linear-gradient(to bottom, rgb(255,255,255),rgb(200 200 200));  
	border: 1px solid black;
}

.valor-pesquisa{
	margin-top: 8px;
}

.valor-pesquisa p{
	color: black;
	font-size: 14px;
}

.valor-pesquisa p:nth-of-type(1){
	float: left;
}

.valor-pesquisa p:nth-of-type(2){
	float: right;
}

.search2{
	margin-top: 40px;
}

.search2 h2{
	font-size: 20px;
	color: black;
	font-weight: normal;
}

.form-venda-wraper{
	margin-top: 10px;
}

.form-venda-wraper input[type=checkbox]{
	display: none;
}

.form-venda-wraper label{
	width: 16px;
	height: 16px;
	display: inline-block;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}

.form-venda-wraper input[type=checkbox]:checked + label > .circle{
	display: block;
}

.circle{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: black;
	position: absolute;
	top: 4px;
	left: 4px;
	display: none;
}

.form-venda-wraper span{
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
}

.vitrine-venda{
	float: left;
	width: 70%;
}

.vitrine-venda .vitrine-destaque{
	margin: 20px 0;
}

/* PAGINA NOVA - veiculo-single.html */
/* VEICULO-SINGLE */
section.venda-single{
	padding: 0 2%;
}

section.venda-single .container{
	padding: 40px 2%;
	max-width: 1000px;
}

.info-veiculo{
	float: left;
	width: 60%;
}

.foto-destaque{
	width: 100%;
	padding-top: 70%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.descricao-veiculo{
	float: left;
	width: 40%;
	padding: 40px;
}

.descricao-veiculo p{
	font-size: 18px;
	font-weight: 200;
	margin-top: 25px;
	max-width: 360px;
	text-align: justify;
}

.descricao-veiculo a{
	margin-top: 25px;
}

.nav-galeria-parent{
	width: 100%;
	padding: 36px;
	position: relative;
}

.arrow-left-nav{
	position: absolute;
	left: 8px;
	top: 50%;
	cursor: pointer;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background-image: url('../images/arrow-left.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}

.arrow-right-nav{
	position: absolute;
	right: 8px;
	top: 50%;
	cursor: pointer;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background-image: url('../images/arrow-right.png');
	background-size: 100% 100%;
	width: 22px;
	height: 22px;
}

.info-bread{
	text-align: left;
	padding-bottom: 10px;

}

.info-bread a{
	text-decoration: none;
	color: black;
}

.info-bread a:last-child{
	color: red;
}

.info-bread span{
	padding: 0 20px;
}

.nav-galeria{
	overflow: hidden;
	width: 100%;
}

.nav-galeria-wraper{
	width: 200%;
}

.mini-img-wraper{
	float: left;
	padding: 4px;
	width: calc(33.33% * (100 / 200));
}

.mini-img{
	width: 100%;
	cursor: pointer;
	padding-top: 70%;
	background-position: center;
	background-size: cover;	
}

/* PAGINA NOVA - sobre.html */
/* SOBRE */

section.sobre{
	min-height: 90%;
	padding: 0 2% 60px 2%;
}

section.sobre .container{
	max-width: 1000px;
}

section.sobre .img-destaque-sobre{
	width: 100%;
	padding-top: 60%;
	margin-top: 60px;
	background-image: url('../images/galpao.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

section.sobre .descricao-autor{
	margin-top: 60px;
	padding: 0 5%;
}	

.descricao-autor h2{
	margin-top: 40px;
	font-size: 22px;
}	

.descricao-autor p{
	margin-top: 20px;
	text-align: justify;
	font-size: 20px;
	font-weight: 200;
	line-height: 35px;
}	

section.sobre .descricao-autor2{
	margin: 60px 0;
	padding: 0 5%;
}

.img-small{
	float: left;
	width: 20%;
	padding-top: 20%;
	background-image: url('../images/perfil.jpg');
	background-size: cover;
	background-position: center;
}

.descricao-autor-small{
	float: left;
	width: 80%;
	text-align: justify;
	padding: 10px 50px;
	font-size: 20px;
	font-weight: 200;
	line-height: 35px;
}

@media screen and (max-width: 1400px){

	/* BANNER */
	section.banner{
		background-size: 75% auto;
		background-position: 100% 100%;
	}
}

@media screen and (max-width: 900px){

	/* BANNER */
	.half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 20px;
	}

	/* FOOTER */
	footer .container{
		text-align: center;
		float: none;
	}

	footer nav{
		display: inline-block;
		float: none;
		padding-bottom: 25px;
	}

	footer p{
		display: block;
		float: none;
	}

	/* PAGINA NOVA - venda.html */
	/* VENDA */
	.vitrine-venda{
		width: 100%;
		text-align: center;
	}

	.sidebar{
		width: 100%;
		text-align: center;
	}

	.search1{
		display: inline-block;
	}

	.search2{
		display: inline-block;
		text-align: left;
	}
}

@media screen and (max-width: 768px){
	
	/* HEADER */
	nav.desktop{
		display: none;
	}

	header nav.mobile{
		display: block;
	}

	header nav.mobile ul{
		display: none;
	}

	/* BANNER */
	.text-banner{
		padding: 100px 60px;	
	}

	/* VEÍCULOS DESTAQUE */
	section.veiculos-destaque .container{
		max-width: 1000px;
		padding: 40px 0;
		text-align: center;
	}

	.vitrine-destaque{
		display: inline-block;
		float: none;
		width: 80%;
		padding-bottom: 40px;
	}

	.vitrine-destaque a{
		display: inline-block;
	}

	/* SERVIÇOS */
	section.servicos-descricao{
		flex-direction: column;
	}

	.half1{
		text-align: left;
		padding: 80px 100px;
	}

	.half1,.half2{
		width: 100%;
	}

	/* CONTATO */
	.w50{
		width: 100%;
	}

	/* PAGINA NOVA - veiculo-single.html */
	/* VEICULO-SINGLE */
	.descricao-veiculo{
		width: 100%;
	}

	.descricao-veiculo p{
		max-width: none;
		padding: 0 2%;
	}

	.info-veiculo{
		width: 100%;
	}

	/* PAGINA NOVA - sobre.html */
	/* SOBRE */
	.img-small{	
		width: 100%;
		padding-top: 100%;
	}

	.descricao-autor-small{
		width: 100%;
		padding: 20px 2%;
	}
}