*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/* HEADER */

header{
	padding: 20px 2% 35px 2%;
	height: 130px;
}

header div.logo{
	float: left;
}

header nav.desktop{
	float: right;
	position: relative;
	top: 40px;
}

header nav.mobile{
	margin-top: 40px;
	display: none;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url('../images/icon_menu.png');
}

header nav.desktop ul{
	list-style-type: none;
}

header nav.mobile ul{
	width: 100%;
	left: 0;
	top: 110px;
	position: absolute;
	text-align: center;
	background-color: white;
	z-index: 999;
}

header nav.desktop ul li{
	float: left;	
	font-size: 23px;
	padding: 0 30px;
	font-style: italic;
	text-transform: uppercase;
}

header nav.mobile ul li{
	font-size: 23px;
	padding: 10px 0;
	font-style: italic;
}

header nav.desktop a{
	color: black;
	text-decoration: none;
}

header nav.mobile a{
	color: black;
	text-decoration: none;
}

/* BANNER */

section.banner{
	width: 100%;
	height: 600px;
	background-color: black;
	background-image: url('../images/bg.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.text-banner{
	padding: 100px;	
}

.text-banner-single{
	width: 230px;
	margin-top: 20px;
	padding: 12px 30px;
	height: 60px;
	text-transform: uppercase;
	color: white;
	font-size: 23px;
	background-image: url('../images/box-text.png');
	background-size: 100% 100%;
}

.text-banner .text-banner-single:nth-of-type(2){
	width: 200px;
	position: relative;
	left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3){
	width: 170px;
	position: relative;
	left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4){
	width: 270px;
	background-image: url('../images/box-white-text.png');
	color: black;
	position: relative;
	left: -30px;
	text-transform: lowercase;
}

/* VEICULOS DESTAQUE */

section.veiculos-destaque{
	padding: 90px 2%;
}

.line-titulo{
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	top: 20px;
	background: black;
}

section.veiculos-destaque .container{
	max-width: 1000px;
	padding: 40px 0;
}

section.veiculos-destaque .line-titulo h2{
	position: relative;
	background: white;
	display: inline-block;
	text-align: center;
	font-size: 23px;
	padding: 0 20px;
	font-style: italic;
	text-transform: uppercase;
}

.vitrine-destaque{
	float: left;
	width: 33.33%;
}

.vitrine-destaque .vitrine-img{
	width: 100%;
	padding-top: 100%;
	background-size: 100% 100%;
	border: 8px solid white;
}

.vitrine-destaque h2{
	padding-left: 8px;
	color: black;
	font-size: 20px;
	font-style: italic;
}

.vitrine-destaque p{
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	padding-top: 8px;
}

.btn1{
	color: white;
	/*font-weight: bold;*/
	display: block;
	width: 150px;
	line-height: 40px;
	background-color: #EB2D2D;
	text-decoration: none;
	text-align: center;
	border-bottom: 2px solid #B21E1E;
	border-right: 2px solid #B21E1E;
}

.vitrine-destaque a{
	margin-left: 8px;
	margin-top: 15px;
}

/* Servicos */
section.servicos-descricao{
	display: flex;
}



.half1{
	width: 50%;
	text-align: center;
	padding: 90px 0;
	background-color: #242424;
	color: white;
}

.half1-wraper{
	text-align: left;
	display: inline-block;
}

.half1-wraper h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half1-wraper ul{
	display: inline-block;
	margin-top: 20px;
}

.half1-wraper li{
	margin-left: 20px;
	font-size: 18px;
}

.half1-wraper a{
	margin-left: 40px;
	display: inline-block;
	vertical-align: bottom;
}

.half2{
	width: 50%;
	padding: 90px 100px;
	background-color: #EB2D2D;
	color: white;
}

.half2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}

.half2 .depoimento-single{
	margin-top: 20px;
}

.depoimento-single p{
	font-size: 22px;
}

.navigation{
	float: left;
	margin-top: 30px;
	width: 100%;
	max-width: 700px;
}

.arrows{
	float: left;
}
.navigation img{
	cursor: pointer;
	margin: 0 20px;
}

.nome-depoimento{
	float: right;
	color: #252525;
	font-size: 23px;
}

@media screen and (max-width: 1400px){

	/* BANNER */
	section.banner{
		background-size: 75% auto;
		background-position: 100% 100%;
	}
}

@media screen and (max-width: 900px){

	/* BANNER */
	.half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 20px;
	}

}

@media screen and (max-width: 768px){

}


@media screen and (max-width: 700px){
	
	/* HEADER */
	nav.desktop{
		display: none;
	}

	header nav.mobile{
		display: block;
	}

	/* BANNER */
	.text-banner{
		padding: 100px 60px;	
	}

	/* VEICULOS DESTAQUE */

	section.veiculos-destaque .container{
		max-width: 1000px;
		padding: 40px 0;
		text-align: center;
	}
	.vitrine-destaque{
		display: inline-block;
		float: none;
		width: 80%;
		padding-bottom: 40px;
	}

	.vitrine-destaque a{
		display: inline-block;
	}

	/* Servicos */
	section.servicos-descricao{
		flex-direction: column;
	}

	.half1{
		text-align: left;
		padding: 80px 100px;
	}

	.half1,.half2{
		width: 100%;
	}
}
